.content {
  display: flex; }

.page {
  width: 80%;
  display: flex;
  flex-direction: column; }
  .page h1 {
    border-bottom: 1px solid #efefef;
    padding: 0 40px;
    line-height: 50px;
    font-size: 34px;
    font-weight: 800;
    color: #333333; }
  .page h2 {
    font-size: 25px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
    margin-top: 30px; }

.page-content {
  padding: 20px 40px;
  max-width: 100%; }

.menu {
  width: 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #efefef; }

.logo {
  text-align: center;
  padding: 20px 20px;
  font-size: 24px;
  line-height: 46px;
  font-weight: 300;
  color: #666666; }

.menu-nav {
  padding: 20px 25px;
  overflow: scroll; }
  .menu-nav span {
    color: #666666;
    font-size: 16px;
    font-weight: 600; }
  .menu-nav a {
    display: block;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    padding: 6px 0; }
    .menu-nav a:hover {
      color: #333333; }
    .menu-nav a.active {
      color: #10CF93; }
  .menu-nav > .nav > li {
    margin-bottom: 20px; }
  .menu-nav > .nav {
    padding: 0; }
  .menu-nav .nav {
    list-style: none; }
    .menu-nav .nav .nav {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px; }

.brk-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid #efefef; }

.footer {
  display: flex;
  flex-direction: row;
  width: 20%;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none; }
  .footer i, .footer span {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    color: #666666; }
  .footer i {
    font-size: 17px;
    padding-right: 5px; }
  .footer span {
    font-size: 14px; }
  .footer:hover {
    text-decoration: none; }
    .footer:hover i, .footer:hover span {
      color: #10CF93; }

.switch-page {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 300px;
  right: 0; }
  .switch-page .previous, .switch-page .next {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 15px 20px;
    text-decoration: none; }
    .switch-page .previous i, .switch-page .previous span, .switch-page .next i, .switch-page .next span {
      display: inline-block;
      vertical-align: top;
      line-height: 20px;
      color: #10CF93; }
    .switch-page .previous i, .switch-page .next i {
      font-size: 16px; }
    .switch-page .previous span, .switch-page .next span {
      font-size: 15px;
      padding: 0 5px; }
    .switch-page .previous:hover, .switch-page .next:hover {
      text-decoration: none; }
  .switch-page .previous {
    left: 0; }
  .switch-page .next {
    right: 0; }

p, ul li {
  color: #444444;
  font-size: 15px;
  line-height: 23px; }

a {
  color: #10CF93; }
  a:hover {
    color: #0ca071; }

body {
  font-family: 'Open Sans'; }
