.content {
    display: flex;
}

.page {
    width: 80%;
    display: flex;
    flex-direction: column;

    h1 {
        border-bottom: 1px solid $bordersColor;
        padding: 0 40px;
        line-height: 50px;
        font-size: 34px;
        font-weight: 800;
        color: $highlightColor;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
        color: $highlightColor;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

.page-content {
    padding: 20px 40px;
    margin: 0 auto;
    max-width: 100%;
}

.menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $bordersColor;
}

.logo {
  text-align: center;
  padding: 20px 20px;
  font-size: 24px;
  line-height: 46px;
  font-weight: 300;
  color: #666666;
}

.menu-nav {
  padding: 20px 25px;
  overflow: scroll;

  span {
    color: #666666;
    font-size: 16px;
    font-weight: 600;
  }

  a {
    display: block;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    padding: 6px 0;

    &:hover {
      color: #333333;
    }
    &.active {
      color: $primary;
    }
  }

  >.nav >li {
    margin-bottom: 20px;
  }

  >.nav {
    padding: 0;
  }

  .nav {
    list-style: none;
    .nav {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  }
}
