// Colors
$bordersColor: #efefef;
$primary: #10CF93;
$highlightColor: #333333;
$subColor: #444444;

// Sizes
$menuWidth: 300px;

@import 'content';
@import 'footer';
@import 'typography';

body {
    font-family: 'Open Sans';
}
