{
  "plugins": [
    "ramda",
    "transform-object-assign"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "istanbul"
      ],
      "presets": [
        ["es2015", { "loose": false, "modules": false }]
      ]
    },
    "commonjs": {
      "presets": [
        ["es2015", { "loose": false, "modules": "commonjs" }]
      ]
    },
    "es": {
      "presets": [
        ["es2015", { "loose": false, "modules": false }]
      ]
    }
  }
}
