{
  "plugins": [
    "ramda",
    ["transform-object-rest-spread", { "useBuiltIns": true}]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ],
      "presets": [
        ["es2015", { "loose": false, "modules": false }]
      ]
    },
    "commonjs": {
      "presets": [
        ["es2015", { "loose": false, "modules": "commonjs" }]
      ]
    },
    "es": {
      "presets": [
        ["es2015", { "loose": false, "modules": false }]
      ]
    }
  }
}
